@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Rubik:wght@300;400;500;600&display=swap');

:root {
    --primary-color: #ff6b6b;
    --secondary-color: #794afa;
    --secondary-dark-color: #453c5c;

    --white-color: #ffffff;
    --light-bg-color: #f2f3f5;
    --light-text-color: #7c699a;
    --border-color: #e5e8ec;
    --dark-color: #0a021c;

    --font-small: 13px;
    --font-smaller: 11px;

    --percent100: 100%;
    --percent50: 50%;

    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;

    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s;
}

*{
    margin: 0;
    padding: 0;
}

*, ::before, ::after{
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

a, button, input{
    -webkit-tap-highlight-color: transparent;
}

ul{
    list-style: none;
}

h1, h2{
    font-weight: var(--fw6);
    line-height: normal;
}  

h1{
    font-size: 2.5em;
}

h2{
    font-size: 2em;
}

body{
    font-family: 'Poppins';
    font-weight: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
}

input::placeholder{
    font-family: 'Poppins';
    color: var(--dark-color);
}

.container_login {
    max-width: 1100px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.site_login{
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.theform{
    position: relative;
    background-color: var(--light-bg-color);
    padding: 50px 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(149, 157, 165 / 20%) 0 8px 24px;
    overflow: hidden;
}

.test ul{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.test ul li:first-child a{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    transition: background-color .3s, color .3s;
}

.test ul li:first-child a:hover{
    background-color: var(--primary-color);
    color: var(--light-bg-color);
    border: 0;
}

.test ul li:last-child {
    font-size: 12px;
}

.test ul li:last-child a{
    color: var(--primary-color);
    font-weight: var(--fw5);
}

.test ul li:last-child a:hover{
    text-decoration: underline;
}

.heading h2{
    font-size: 42px;
    margin-top: 50px;
}

.heading p{
    color: var(--primary-color);
    font-size: 14px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

form > p{
    position: relative;
    height: 46px;
}

form p input{
    font-family: inherit;
    width: 100%;
    height: 100%;
    outline: 0;
    padding: 0 30px;
    line-height: 40x;
    border-width: 0 0 2px;
    border-style: solid;
    border-color: var(--border-color);
}

form p:not(.socials_login) i{
    position: absolute;
    left: 0;
    top: 23px;
    line-height: 1;
    margin-top: -10px;
    color: var(--dark-color);
}

form p i.ri-eye-off-line{
    left: auto;
    right: 0;
    color: var(--dark-color);
    cursor: pointer;
}

form .actions{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

form .actions label{
    width: 100%;
    position: relative;
    overflow: hidden;
}

form .actions label input{
    width: 100%;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: var(--fw6);
    border-radius: 25px;
    line-height: 46px;
    cursor: pointer;
}

form .actions label i{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 36px;
    height: 36px;
    padding: 10px;
    line-height: 1;
    background-color: rgb(255, 255, 255 / 25%);
    color: var(--white-color);
    transform: translateX(50px);
    visibility: hidden;
    transition: transform .3s, visibility .3s;
}

form .actions label:hover i{
    transform: translateX(0);
    visibility: inherit;
}

form .actions button{
    position: relative;
    width: 32px;
    height: 32px;
    margin: 5px;
    background-color: transparent;
    border: 1px solid var(--light-bg-color);
    border-radius: 50%;
    font-size: 16px;
    font-weight: var(--fw6);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

form .socials_login button:first-child{
    color: #4267b2;
}

form .socials_login button:last-child{
    color: #db4437;
}

form .socials_login button:first-child:hover{
    background-color: #4267b2;
}

form .socials_login button:last-child:hover{
    background-color: #db4437;
}

form .socials_login button:hover{
    color: var(--white-color);
    border: 0;
}


@keyframes singupswipe{
    form{transform: translate3d(20%, 0, 0);}
    to {transform: translate3d(0,0,0);}
}

@media screen and (min-width: 768px){
    .signup{
        padding: 0 5% 0 13%;
    }
    .signin{
        padding: 0 13% 0 5%;
    }
    .signin{
        height: auto;
    }
    .theform{
        padding: 50px 0;
        flex-direction: row;
    }
    .theform > div{
        flex: 1 0 50%;
    }
    .theform .play{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        z-index: 1;
        transform: translateX(100%);
    }
    .signin-show .play{
        animation: signinplay 1s both;
    }
}

@media screen and (min-width: 992px){
    form .actions{
        flex-direction: row;
        justify-content: space-between;
    }
    form .actions label{
        max-width: 180px;
    }
}